* {
    font-family: 'Poppins', sans-serif;

}
body {
    background: linear-gradient(to right,#eacda3 , #d6ae7b);
}


.button {
    border-radius: 8px;
    border-style: none;
    border: none;
    background: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 10ms;
}

.button:hover {
    color: white;
    transition:100ms
}

.navbar {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.title {
    margin: 10px;
}

.first_container {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: linear-gradient(to right,#eacda3 , #d6ae7b);
}

.second_container {
    width: 100%;
  }
  

.loading {
    justify-content: center;
}
.cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.offsetButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}